@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,600&display=swap');

*{
text-decoration: none;
font-family: 'Raleway', sans-serif;
}


body{
background-image: url("/img/emilia-home.jpg");
background-repeat: no-repeat;
background-size: 1100px;
background-position: right top ; 
background-position-y: 60%;


}

.pestañas-home ul{
margin-left: -20px;

}

.pestañas-home ul li a{
color: black;
font-size: 12px;
}

.redes ul{
margin-left: -20px; ;
}

.nombre-artista{
margin-top:120px ;
margin-left:15px ;
font-size: 25px ;
font-style: normal;

}

.album{
font-size:58px ;
margin-top:185px ;
padding:15px;
background-color:rgba(255, 255, 255, 0.3);

}   